body{
    margin: 0;
    background-color:bisque;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 100px;
}

.box{
    border: 2px solid red;
    width: 100px;
    height: 100px;
    font-size: xx-large;
}

#navbar{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100vw;
    background-color:cornsilk;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: auto;
}

#navbar>a{
    color: black;
    text-decoration: none;
}

#section1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: cadetblue;
    height: 400px;
    width: 80vw;
    margin-top: -25%;
}