p, h1{
    color: red;
    font-size: 20px;
    text-align: center;
}

.name{
    color: rgba(53, 173, 57, 0.512);
    font-size: 20px;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 5px yellow;
}

a{
    color: black;
    font-size: 20px;
    background-color: yellow;
}

ul, ol{
    list-style-type: none;
    color: chocolate;
}

.items{
    color: peru;
    font-size: 20px;

}

#head{
    color: cadetblue;
}

#thank{
    color: darkorange;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    justify-content: center;
    text-align: center;

}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url('../HTML/image.jpg'); */
    
}